/* This resets the entire page to be a clean slate */
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #f4f6f8;
}

#root {
  display: block; /* Remove the default Vite flex centering */
}